In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%matplotlib inline

from pprint import pprint
from zen_garden.postprocess.results import Results

### Working with results of a ZenGarden run

This notebook shows some examples on how to handle the results of a `zen-garden` run. It uses the outputs of the tests as examples. Therefore, you need to run the tests via 
```
coverage run --source="zen_garden" -m pytest -v tests/testcases/run_test.py
```
to get the data.

### Reading in the results

The results can be read in using the `Results` class. This will automatically read in all relevant files, independent of the number of scenarios or if the optimization was run with perfect or myopic foresight. However, you should know what type of input you are reading in, as the output of some routines will depend on the type.

In [3]:
# This has no scenarios and perfect foresight
res_basic = Results("../outputs/test_1a/")
# Here we have three different scenarios
res_scenario = Results("../outputs/test_6a/")
# This was run with myopic foresight
res_mf = Results("../outputs/test_4g/")
# This was run with aggregated time steps and multi year
res_ts = Results("../outputs/test_4f/")

### Accessing the config

The standard dictionaries, i.e. system, analysis, scenarios, solver and dict_sequence_time_steps can be accessed via the results dict.

In [4]:
# Show the analysis settings
pprint(res_basic.results["analysis"])

{'compress_output': True,
 'dataset': 'C:\\Users\\janis\\Dropbox\\SIS\\Subscriptions\\Sansavini\\ZEN-garden\\tests\\testcases\\test_1a',
 'discountRate': 0.06,
 'fileFormat': 'csv',
 'folderNameSystemSpecification': 'systemSpecification',
 'folder_output': 'C:\\Users\\janis\\Dropbox\\SIS\\Subscriptions\\Sansavini\\ZEN-garden\\outputs',
 'header_data_inputs': {'setCapacityTypes': 'capacityType',
                      'setCarriers': 'carrier',
                      'setConditioningCarrierParents': 'carrier',
                      'setConditioningCarriers': 'carrier',
                      'setConversionTechnologies': 'technology',
                      'setDependentCarriers': 'carrier',
                      'setEdges': 'edge',
                      'setElements': 'element',
                      'setExistingTechnologies': 'existingTechnology',
                      'setInputCarriers': 'carrier',
                      'setLocation': 'location',
                      'setNodes': 'node',
                      'setOutputCarriers': 'carrier',
                      'setScenarios': 'scenario',
                      'setStorageTechnologies': 'technology',
                      'setTechnologies': 'technology',
                      'setTimeSteps': 'time',
                      'setTimeStepsOperation': 'timeOperation',
                      'setTimeStepsStorageLevel': 'timeStorageLevel',
                      'setTimeStepsYearly': 'year',
                      'setTimeStepsYearlyEntireHorizon': 'year',
                      'setTransportTechnologies': 'technology'},
 'max_output_size_mb': 500,
 'objective': 'TotalCost',
 'overwrite_output': True,
 'postprocess': False,
 'sense': 'minimize',
 'subsets': {'setCarriers': [],
             'setConversionTechnologies': ['setConditioningTechnologies'],
             'setTechnologies': ['setConversionTechnologies',
                                 'setTransportTechnologies',
                                 'setStorageTechnologies']},
 'timeSeriesAggregation': {'clusterMethod': 'k_means',
                           'extremePeriodMethod': 'None',
                           'hoursPerPeriod': 1,
                           'noSegments': 12,
                           'representationMethod': 'meanRepresentation',
                           'rescaleClusterPeriods': False,
                           'resolution': 1,
                           'segmentation': False,
                           'solver': 'gurobi'},
 'transportDistance': 'Euclidean',
 'useExistingCapacities': True,
 'write_results_yml': False}

### Extracting individual data frames

You can access individual data frames from any component with the `get_df` method. However, the behavior differs slightly for the usecases.
If the optimization was run with perfect foresight and no scenarios, then the data frame is returned as `pandas.Series`. For myopic foresight, the final dataframe is stiched together from the relevant outputs if the component is set yearly. If multiple scenarios were run, a dictionary containing the data frame for all different scenarios is returned. However, you can specify the scenario in advance, then only a single data frame is returned.

Additionally, the method provides a shortcut to save the extracted dataframe directly to a CSV, or in case of different scenarios to a bundle of CSV files.

In [5]:
# This will return a single data frame
df = res_basic.get_df('exportCarrierFlow')
df

carrier      node  timeOperation
heat         CH    0                0.0
             DE    0                0.0
natural_gas  CH    0                0.0
             DE    0                0.0
Name: exportCarrierFlow, dtype: float64

In [6]:
# you can also save the dataframe directly to a csv:
df = res_basic.get_df('carbonEmissionsOvershoot', to_csv="test")
# this prints out the content of the generated csv
!cat test.csv

year,carbonEmissionsOvershoot
0,0.0

In [7]:
# if we have multiple scenarios, all dataframe will be returned in a dict
df_dict = res_scenario.get_df('exportCarrierFlow')
pprint(df_dict)

{'scenario_': carrier      node  timeOperation
heat         CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
natural_gas  CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
Name: exportCarrierFlow, dtype: float64,
 'scenario_1': carrier      node  timeOperation
heat         CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
natural_gas  CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
Name: exportCarrierFlow, dtype: float64,
 'scenario_2': carrier      node  timeOperation
heat         CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
natural_gas  CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
Name: exportCarrierFlow, dtype: float64,
 'scenario_3': carrier      node  timeOperation
heat         CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
natural_gas  CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
Name: exportCarrierFlow, dtype: float64,
 'scenario_4': carrier      node  timeOperation
heat         CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
natural_gas  CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
Name: exportCarrierFlow, dtype: float64,
 'scenario_5': carrier      node  timeOperation
heat         CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
natural_gas  CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
Name: exportCarrierFlow, dtype: float64,
 'scenario_6': carrier      node  timeOperation
heat         CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
natural_gas  CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
Name: exportCarrierFlow, dtype: float64}

In [8]:
# saving this to a csv will create a file for each scenario
df_dict = res_scenario.get_df('exportCarrierFlow', to_csv="test2")
# list files and print content of one
!echo "Generated files: "
!ls test2*
!echo 
!echo "Output of test2_scenario_2.csv"
!cat test2_scenario_2.csv

Generated files:
test2_scenario_.csv   test2_scenario_3.csv  test2_scenario_6.csv
test2_scenario_1.csv  test2_scenario_4.csv
test2_scenario_2.csv  test2_scenario_5.csv

Output of test2_scenario_2.csv
carrier,node,timeOperation,exportCarrierFlow
heat,CH,0,0.0
heat,CH,1,0.0
heat,CH,2,0.0
heat,CH,3,0.0
heat,DE,0,0.0
heat,DE,1,0.0
heat,DE,2,0.0
heat,DE,3,0.0
natural_gas,CH,0,0.0
natural_gas,CH,1,0.0
natural_gas,CH,2,0.0
natural_gas,CH,3,0.0
natural_gas,DE,0,0.0
natural_gas,DE,1,0.0
natural_gas,DE,2,0.0
natural_gas,DE,3,0.0

In [9]:
# we can also specify a specific scneario
df = res_scenario.get_df('exportCarrierFlow', scenario="scenario_2")
df

carrier      node  timeOperation
heat         CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
natural_gas  CH    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
             DE    0                0.0
                   1                0.0
                   2                0.0
                   3                0.0
Name: exportCarrierFlow, dtype: float64

In [10]:
# This will collect the values from the results folders of the different myopic foresight runs
df = res_mf.get_df("carbonEmissionsCumulative")
df

0    149.341143
1    298.682286
2    448.023428
Name: carbonEmissionsCumulative, dtype: float64

### Helper functions

The `Results` class implements some helper functions. The function `get_total` allows you to calculate the total Value of a component, for a given year, element and scenario if desired. And the function `get_full_ts` calculates the full (disaggregate) time series for a given component.

In [11]:
# We read out a normal dataframe
df = res_mf.get_df("inputFlow")
print(df)

technology          carrier      node  timeOperation
natural_gas_boiler  natural_gas  CH    0                  7.154833
                                       1                  7.154833
                                       2                  7.154833
                                       3                 20.971662
                                       4                 20.971662
                                       5                 20.971662
                                       6                  1.396940
                                       7                  1.396940
                                       8                  1.396940
                                       9                 24.447782
                                       10                24.447782
                                       11                24.447782
                                       12                13.775922
                                       13                13.775922
                                       14                13.775922
                                       15                31.583558
                                       16                31.583558
                                       17                31.583558
                                       18                16.856871
                                       19                16.856871
                                       20                16.856871
                                       21                 3.996616
                                       22                 3.996616
                                       23                 3.996616
                                       24                27.861541
                                       25                27.861541
                                       26                27.861541
                                       27                10.732760
                                       28                10.732760
                                       29                10.732760
                                 DE    0                 46.023838
                                       1                 46.023838
                                       2                 46.023838
                                       3                114.756613
                                       4                114.756613
                                       5                114.756613
                                       6                 14.524694
                                       7                 14.524694
                                       8                 14.524694
                                       9                134.044391
                                       10               134.044391
                                       11               134.044391
                                       12                79.808732
                                       13                79.808732
                                       14                79.808732
                                       15               182.559451
                                       16               182.559451
                                       17               182.559451
                                       18                96.909622
                                       19                96.909622
                                       20                96.909622
                                       21                26.350048
                                       22                26.350048
                                       23                26.350048
                                       24               156.294908
                                       25               156.294908
                                       26               156.294908
                                       27                63.221603
                                       28                63.221603
                                       29                63.221603
Name: inputFlow, dtype: float64

In [12]:
# We can calculate the total value of the dataframe
res_mf.get_total(df)

                                                 0              1  \
technology         carrier     node
natural_gas_boiler natural_gas CH    107920.616603  107920.616603
                               DE    631538.596654  631538.596654

                                                 2
technology         carrier     node
natural_gas_boiler natural_gas CH    107920.616603
                               DE    631538.596654

In [13]:
# and also get the full timeseries (disaggregate) if we want
df_disaggregate = res_mf.get_full_ts(df)
df_disaggregate

                                       0           1           2      \
natural_gas_boiler natural_gas CH  16.856871   20.971662   20.971662
                               DE  96.909622  114.756613  114.756613

                                        3           4           5      \
natural_gas_boiler natural_gas CH   24.447782   31.583558   31.583558
                               DE  134.044391  182.559451  182.559451

                                        6           7           8      \
natural_gas_boiler natural_gas CH   31.583558   31.583558   31.583558
                               DE  182.559451  182.559451  182.559451

                                        9      ...       26270       26271  \
natural_gas_boiler natural_gas CH   31.583558  ...   31.583558   31.583558
                               DE  182.559451  ...  182.559451  182.559451

                                        26272       26273       26274  \
natural_gas_boiler natural_gas CH   31.583558   31.583558   31.583558
                               DE  182.559451  182.559451  182.559451

                                        26275       26276       26277  \
natural_gas_boiler natural_gas CH   31.583558   31.583558   27.861541
                               DE  182.559451  182.559451  156.294908

                                        26278       26279
natural_gas_boiler natural_gas CH   20.971662   20.971662
                               DE  114.756613  114.756613

[2 rows x 26280 columns]

### Some Plots

Here could be some example plots